<!DOCTYPE html>
<html>
    <head>
        <title>Joshua Liu CPA4</title>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <img class="header" src="images/BrandeisLogo.png" alt="Brandeis Logo" />
            <div class="header">
                <h1>Brandeis University</h1>
                <h3>Student & Alumni Association</h3>
            </div>
        </header>
        <nav>
            <a href="index">Home</a>
            <a href="about">About</a>
            <a href="jobs">Jobs</a>
            <a href="events">Events</a>
            <a href="contact">Contact</a>
        </nav>
        <%- body%>
        <footer>
        <p id="footer">@2023 Brandeis University</p>
            <div class="icons">
                <a href="https://www.facebook.com/brandeisuniversity/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/brandeisuniversity/" class="fa fa-instagram"></a>
                <a href="https://www.linkedin.com/school/brandeis-university/" class="fa fa-linkedin"></a>
                <a href="https://www.youtube.com/BRANDEISUNIVERSITY" class="fa fa-youtube"></a>
                <a href="https://twitter.com/BrandeisU/" class="fa fa-twitter"></a>
            </div>
        </footer>
    </body>
</html>