<section>
    <article>
        <h1>About</h1>
        <h3>About Brandeis University</h3>
        <p>
            This is the About Page. Learn more about Brandeis University and the
            Student and Alumni Association!
        </p>
    </article>
    <article>
        <h1>Title</h1>
        <h3>Subtitle</h3>
        <iframe width="520" height="315"
        src="https://www.youtube.com/embed/WUtzGw2AzHs">
        </iframe>
    </article>
</section>
            