<section>
    <article>
        <h1>Contact</h1>
        <h3>Contact Us</h3>
        <p>
            This is the Contact Page where you can find information about how to contact us.
        </p>
    </article>
    <article>
        <h1>Title</h1>
        <h3>Subtitle</h3>
        <p>
            Here is a list of who to contact and their information for contacting them. 
        </p>
    </article>
</section>