<section>
    <article>
        <h1>We Are Proud</h1>
        <h3>Students and Alumni of Brandeis University</h3>
        <p>
            The Brandeis Students and Alumni Association is a vibrant
            community that offers lifelong opportunities for students
            and alumni to stay connected to Brandeis and each other.
        </p>
    </article>
    <article>
        <h1>Title</h1>
        <h3>Subtitle</h3>
        <iframe width="520" height="315"
        src="https://www.youtube.com/embed/aiiCRA3G5e0">
        </iframe>
    </article>
</section>