<div class="data-form">
  <form action="/users/create" method="POST">
    <h2>Create a new user:</h2>
    <label for="inputName">Name</label>
    <input
      type="text"
      name="name"
      id="inputName"
      placeholder="Name"
      autofocus
    />
    <label for="inputEmail">Email Address</label>
    <input
      type="email"
      name="email"
      id="inputEmail"
      placeholder="Email address"
      required
    />
    <label for="inputPassword">Password</label>
    <input
      type="password"
      name="password"
      id="inputPassword"
      placeholder="Password"
      required
    />
    <label for="inputRole">Role</label>
    <input type="text" name="role" id="inputRole" placeholder="Role" required />
    <label for="inputGraduationYear">Graduation Year</label>
    <input
      type="Number"
      name="graduationYear"
      id="inputGraduationYear"
      placeholder="Graduation Year"
      required
    />
    <label for="inputMajor">Major</label>
    <input
      type="text"
      name="major"
      id="inputMajor"
      placeholder="Major"
      required
    />
    <label for="inputJob">Job</label>
    <input type="text" name="job" id="inputJob" placeholder="Job" required />
    <label for="inputCompany">Company</label>
    <input
      type="text"
      name="company"
      id="inputCompany"
      placeholder="Company"
      required
    />
    <label for="inputCity">City</label>
    <input type="text" name="city" id="inputCity" placeholder="City" required />
    <label for="inputState">State</label>
    <input
      type="text"
      name="state"
      id="inputState"
      placeholder="State"
      required
    />
    <label for="inputCountry">Country</label>
    <input
      type="text"
      name="country"
      id="inputCountry"
      placeholder="Country"
      required
    />
    <label for="inputZipCode">Zip Code</label>
    <input
      type="text"
      name="zipCode"
      id="inputZipCode"
      pattern="\d*"
      placeholder="Zip Code"
      required
    />
    <label for="inputBio">Bio</label>
    <input type="text" name="bio" id="inputBio" placeholder="Bio" required />
    <label for="inputInterests">Interests</label>
    <input
      type="text"
      name="interests"
      id="inputInterests"
      placeholder="Interests"
      required
    />
    <button type="submit">Submit</button>
  </form>
</div>
;
