<div class="data-form">
  <form action="/events/create" method="POST">
    <h2>Create a new event:</h2>
    <label for="inputTitle">Title</label>
    <input
      type="text"
      name="title"
      id="inputTitle"
      placeholder="Title"
      autofocus
      required
    />
    <label for="inputDescription">Description</label>
    <input
      type="text"
      name="description"
      id="inputDescription"
      placeholder="Description"
      required
    />
    <label for="inputLocation">Location</label>
    <input
      type="text"
      name="location"
      id="inputLocation"
      placeholder="Location"
      required
    />
    <label for="inputStartDate">Start Date</label>
    <input
      type="Date"
      name="startDate"
      id="inputStartDate"
      placeholder="Start Date"
      required
    />
    <label for="inputEndDate">End Date</label>
    <input
      type="Date"
      name="endDate"
      id="inputEndDate"
      placeholder="End Date"
      required
    />
    <label for="inputIsOnline">Is Online</label>
    <input
      type="Boolean"
      name="isOnline"
      id="inputIsOnline"
      placeholder="True"
      required
    />
    <label for="inputRegistrationLink">Registration Link</label>
    <input
      type="text"
      name="registrationLink"
      id="inputRegistrationLink"
      placeholder="Link"
      required
    />
    <label for="inputOrganizer">Organizer</label>
    <input
      type="User"
      name="organizer"
      id="inputOrganizer"
      placeholder="Organizer"
    />
    <label for="inputAttendees">Attendees</label>
    <input
      type="User"
      name="attendees"
      id="inputAttendees"
      placeholder="Attendees"
    />
    <button type="submit">Submit</button>
  </form>
</div>
